@font-face {
  font-family: "Roboto-f";
  src: url("../assets/fonts/Roboto-Black.ttf");
}

@font-face {
  font-family: "Lato-f";
  src: url("../assets/fonts/Lato-Black.ttf");
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 10px;
}

body {
  scroll-behavior: smooth;
  font-family: Roboto-f, Helvetica, sans-serif;
  background: #f4f4f4;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
}